---
title: Configure Tanzu Application Service Portal (beta)
owner: TAS Portal
---

This topic describes how to configure the TAS Portal on the Tanzu Ops Manager tile.

## <a id="prerequisite"></a> Prerequisites
