---
title: Configure Permissions for TAS Developer Portal (beta)
owner: TAS Developer Portal
---

By default, all catalog entities in the TAS Portal are visible to and
modifiable by all TAS Portal users. To limit access to
Software Catalog entities, operators can configure the TAS Portal permission framework.

## <a id="overview"></a> Overview

The permission framework enables TAS Portal operators to enforce policies that
limit access to certain parts of TAS Portal.

The only configurable permissions are for Software Catalog entities.
Operators can use TAS Portal and entity-level configuration to grant
users either global access or individual access to Software Catalog entities.

## <a id="enabling"></a> Enable the permission framework

To enable the TAS Portal permission framework:

1. In Tanzu Operations Manager, on the TAS for VMs tile, click the **Settings**
tab.

1. On the left panel, click **TAS Developer Portal**.

   ![alt-text=""](./images/TAS-portal-settings-tab.png)

1. Add the following YAML configuration to the
**Backstage configuration** text box:
 
    ```yaml
      permission:
        enabled: true
    ```

1. To apply the settings, re-deploy TAS Portal, using the procedure described
in [Deploy TAS Developer Portal (beta) with TAS for
VMs](../appsman-services/tas-portal/deploy-tas-portal.html).

1. Open TAS Portal and observe that Software Catalog entities are no longer
visible.

## <a id="admins"></a> Assign admin users

Users with admin permissions can view and modify all Software
Catalog entities.

To assign TAS Portal admin users:

1. In Tanzu Operations Manager, on the TAS for VMs tile, click the **Settings**
tab.

1. On the left panel, click **TAS Developer Portal**.

   ![alt-text=""](./images/TAS-portal-settings-tab.png)

1. Add the following YAML configuration to the
**Backstage configuration** text box:
 
     ```yaml
       permission:
        enabled: true
        adminRefs:
        - user:default/USERNAME
     ```

     Where `USERNAME` is the user name of the admin user. For example, enter
     `user:default/tas-portal-admin` for a user whose user name is
     `tas-portal-admin`.

1. To apply the settings, re-deploy TAS Portal, using the procedure described
in [Deploy TAS Developer Portal (beta) with TAS for
VMs](../appsman-services/tas-portal/deploy-tas-portal.html).

1. Open TAS Portal, log in as the admin user configured earlier, and observe
that all Software Catalog entities are visible.

## <a id="ownership"></a> Assigning ownership of entities

Users always have permission to view and modify entities they own in the
Software Catalog. This requires that each Software Catalog
entity has a correctly-configured owner.

To assign an owner to a Software Catalog entity, add the following YAML
configuration to the configuration file of the Software Catalog entity:

```yaml
spec:
  owner: user:default/USERNAME
```

Where `USERNAME` is the user name of the owning user.

The following is an example of configuration for a Software Catalog
entity, including a correctly-configured owning user:

```yaml
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: tas-test-app
  description: Sample Tanzu Application
  tags:
    - cloud-foundry
spec:
  type: service
  lifecycle: experimental
  owner: user:default/tas-owning-user
```

For more information about configuring Software Catalog entities, see the
[Backstage documentation](https://backstage.io/docs/features/software-catalog/descriptor-format/).

## <a id="user-permissions"></a> Granting User Permissions

Operators can grant non-admin and non-owning users permission to view or
modify Software Catalog entities.

To set this configuration, add the following YAML configuration
to the configuration file of the Software Catalog entity:

```yaml
annotations:
  'backstage.tanzu.vmware.com/user.default.USERNAME': 'PERMISSIONS'
```

Where:

* `USERNAME` is the user name of the owning user
* `PERMISSIONS` is a comma-separated list of permissions for that user and the configured entity

The following is an example of configuration for a Software Catalog
entity, including configured user permissions:

```yaml
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: tas-test-app
  description: Sample Tanzu Application
  tags:
    - cloud-foundry
  annotations:
    'backstage.tanzu.vmware.com/user.default.tas-test-user': 'catalog.entities.read,catalog.entities.update'
spec:
  type: service
  lifecycle: experimental
  owner: user:default/tas-owning-user
```

The available permissions are:

* `catalog.entity.read`: Grants permission to view the Software Catalog entity
* `catalog.entity.update`: Grants permission to modify the Software Catalog entity
* `catalog.entity.delete`: Grants permission to deregister the entity from the Software Catalog

For more information about configuring Software Catalog entities, see the
[Backstage documentation](https://backstage.io/docs/features/software-catalog/descriptor-format/).
