---
title: Configuring App Accelerators on TAS Portal (beta)
owner: TAS Portal
---

You can configure the App Accelerators on the Tanzu Application Service Portal (TAS Portal). This article tells you how.

On the TAS Portal, you can:

* Activate an App Accelerator
* Change instance memory
* Provide a Backstage user configuration. This is done using a YAML file that can extend or overwrite existing settings.

In the beta implementation, three App Accelerators are available. You cannot add or delete App
Accelerators in this beta release.

* Node Express
* Spring Cloud Serverless
* Steeltoe Weather Forecast


## <a id="prerequisite"></a> Prerequisites

Before configuring and using App Accelerators, you must:

* Install the TAS Portal app. See [Deploy TAS Portal](./deploy-tas-portal.html).
* Verify that the `tas-portal` application is deployed under the `system` space of the `system` org.


## <a id="config-tas-portal"></a> Configure TAS portal

An example TAS Portal backstage user configuration file is shown in the following procedure. For Backstage
resources, see:

* [Writing Backstage Configuration files](https://backstage.io/docs/conf/writing#configuration-files)
* [GitLab Locations](https://backstage.io/docs/integrations/gitlab/locations)
* [GitLab Discovery](https://backstage.io/docs/integrations/gitlab/discovery)

1. In Tanzu Operations Manager, on the TAS for VMs tile, click the **Settings** tab.

1. On the left panel, click **TAS Portal**.

   ![alt-text=""](./images/TAS-portal-settings-tab.png)

2. To activate the App Accelerator, click the **Use App Accelerator** check box.

2. In **TAS Portal memory usage**, enter a value. The minimum is 512 MB.

3. You configure Backstage using a YAML file. A typical application is to provide access to a
  private repository. For example:

     ```yaml
       integrations:
         gitlab:
         - host: gitlab.eng.vmware.com
           apiBaseUrl: https://gitlab.eng.vmware.com/api/v4
           # To provision a Personal Access Token, see: https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html
           token: ${GITLAB_TOKEN}
     ```

     Where: GITLAB token can be created by running `cf set-env tas-portal GITLAB_TOKEN "secret-token"`

     <p class="note caution">
     <span class="note__title">Caution</span>
     New configuration is added to the end of the command line, so it overwrites or extends all other configuration.</p>

   ![alt-text=""](./images/TAS-portal-settings-example.png)

1. To apply the settings, run `cf restage tas-portal`.


## <a id="view-app-accel"></a> View app accelerators

If you activated App Accelerators when configuring TAS Portal, you can see them in **Component**, in
the **Overview** tab.

The three default App Accelerators are shown:

* Node Express
* Spring Cloud Serverless
* Steeltoe Weather Forecast
