---
title: Deploy TAS Portal (beta) with TAS for VMs
owner: TAS Portal
---

After you install or update TAS for VMs, you can deploy the Tanzu Application Service Portal.

## <a id="deploy"></a> Deploy TAS portal

1. After installing or updating TAS for VMs, you see the **Review Pending Changes** screen.

2. Click the **TAS Portal Errand** check box.

   Deploy the <code>tas-portal</code> application under the <code>system</code> space of the <code>system</code> org.

3. Click **Apply Changes**.

## <a id="remove"></a> Deactivate TAS portal

There are two ways to deactivate the TAS Portal:

  * Delete the `tas-portal` application.
  * On the **Review Pending Changes** screen, deselect **TAS Portal Errand**, and click **Apply Changes**.
