---
title: Installing TAS Portal (beta)
owner: TAS Portal
---

This topic describes how to install the TAS Portal.

## <a id="prerequisite"></a> Prerequisites


## <a id="install"></a> Installing TAS Portal

COPY bits from installing Apps Manager

## <a id="remove"></a> Deactivating TAS Portal

There are two ways to deactivate the TAS Portal:

  * Delete the `tas-portal` application.
  * On the **Review Pending Changes** screen, deselect **TAS Portal Errand**.
