---
title: Runtime Resources Visibility plug-in (beta)
owner: TAS Portal
---

You can use Runtime Resources Visibility plug-in to see the VMware Tanzu Application Service (TAS for VMs) resources
associated with your workloads.

## <a id="prerequisite"></a> Prerequisites

For TAS resources to show up in the Runtime Resources Visibility plug-in, use label selectors on
entities of the Tanzu Application Service. A label selector consists of any string KEY and VALUE.
For more information, see [Labels and
Selectors](https://v3-apidocs.cloudfoundry.org/version/3.78.0/index.html#labels-and-selectors).

## <a id="selectors"></a> Selectors

Selectors can filter and group API resources by their labels. You can use selectors
to filter and group resources using the query parameter `label_selector` on list endpoints.

A selector consists of one or more requirements in a comma-separated list. For example:

`env=dev,!chargeback-code,tier in (backend,worker)`

1. Add a label selector in the metadata of the entity in Backstage. Add the following attribute to
   the YAML file of the Backstage entity:

    ```yaml
      annotations:
      'backstage.io/kubernetes-label-selector': 'KEY=VALUE'
    ```

2. Add a label selector to the matching Tanzu Application Service entity using the [Cloud Foundry
  API](https://docs.cloudfoundry.org/adminguide/metadata.html#add). Alternatively, you can add the
  label selector to the matching TAS for VMs entity using the [CF
  CLI](https://docs.cloudfoundry.org/adminguide/metadata.html#add-cli).

1. Navigate to the Runtime Resources. You can view the list of running resources
   and the details of their status, type, usage statistics and ownership, if applicable for the
   resource type.


## <a id="nav-rr-vis-screen"></a> View runtime resources

You can view the list of running resources and the details of their status, type, namespace,
cluster, and public URL, if applicable for the resource type.

To view the list of your running resources:

1. Select your component from the **TAS Portal Catalog** index page.

    ![alt=""](./images/select-component.png)

2. Click the **TAS Runtime Resources** tab. The runtime resources for the selected component are
   displayed in table format.

    ![alt="See the TAS Runtime Resources."](./images/runtime-resources.png)

### <a id="resources-included"></a> Resources

The built-in TAS for VMs resources in this view are:

* Apps
* Tasks
* Routes
* Instances
* Processes
* Droplets
